body{
	margin-left: 200px;
}

svg {
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}


rect {
   	stroke: white;
	fill: yellow;
}

.main{
	display : inline-flex;
	margin-top: 100px;
}
.Help{
	margin-left: 60px;
    box-shadow: 0 0 5px #999999;
    display: block;
   
    padding: 10px;
 
    width: 280px;

    font-size: 20px !important;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}


.hightlight
{
	fill: red;
    fill-opacity: 0.8;
    background-color: red;
}